.perfect-header{width:980px;margin:10px auto 20px;font-family:"微软雅黑"}
.perfect-header-inner p{font-size:14px;line-height:20px;padding-top:13px;text-align:right;}
.perfect-header .headline{font-weight:700;font-size:18px;width:200px;line-height:25px;display:inline-block;vertical-align:middle;margin-left:5px;}
.perfect-c { margin-top:10px; margin-bottom:10px; border: 1px solid #999999; padding: 25px; }
.perfect-c .selected { color: black !important; }
.perfect-tab { }
.perfect-tab .txt { border: 1px solid #ccc; width: 226px; padding-left: 5px; height: 26px; line-height:26px; }
.perfect-tab .Wdate{height:26px; width:179px; padding-left: 5px; }
.perfect-c .p1 { font-size: 14px; color: #333; font-weight: bold; padding: 5px; }
.perfect-tab { margin-left: 0px; margin-right: 0px; }
.perfect-tab td { height: 45px; line-height: 45px;}
.perfect-tab .tdL { width: 200px; text-align: right; font-size: 14px; padding-right: 10px; }
.perfect-tab .sel1 { width: 70px;height:28px; }
.perfect-tab .sel2 { width: 115px; height:28px;}
.perfect-tab .sel3 { width: 233px; height:28px;}
.perfect-tab .btnYel{ display:block; text-align:center; font-size:16px; height:40px; color:White; line-height:40px; border: 1px solid #e87d00; background-color:#fc9401; width: 231px; }
.perfect-tab .btnYel:hover{ text-decoration:none; }
